    body {
      background: #CAD2D3;
      font-family: 'Roboto Mono', Arial, serif;
    }
    
    header {
      text-align: center;
      background: url('../img/head.png');
      background-size: cover;
      color: white;
    }
    
    header a {
      color: white;
    }
    
    h1 {
      font-size: 5.7em;
      font-family: 'kavoonregular', sans-serif;
      color: #CAD2D3;
    }
    
    h2 {
    font-size: 1.5625em;
    font-family: 'Yantramanav', sans-serif;
    }
    
    img {
      margin: 35px 0 0 0;
      border: 1px solid white;
      border-radius: 20px;
      max-width: 100%;
    }
    
    ul {
      padding: 10px;
      background: rgba(0,0,0, .4);
      list-style: none;
    }
    
    nav li {
      display: inline; /* Mettiamo i link della barra di nav tutti sulla stessa riga */
      padding: 0 10px; /* distanziamo i link tra loro */
      
    }
    
    nav a:link,
    nav a:visited {
        color: white;
        background: rgba(0,0,0, .4);
        padding:10px 15px 10px 15px;
        border:#42432d;
		text-decoration:none;
		font:bold 1em/1em Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		text-shadow: 2px 2px 2px #555;
    }
	
	nav a:hover,
	nav a:focus {
		color:black;
		background: #cad2d3;
	}
   
    article {
      max-width: 600px; /* Gli elementi article potranno essere più piccoli di 600px ma non più grandi */
      padding: 15px;
      margin: 0 auto; /* Trick per centrare articolo */
      border-bottom: 1px solid black;
    }

    .hide {
      display: none;
    }
    
    footer {
        text-align: center;
		padding: 30px 0 30px 0;
    }
	
	.backnext {
		text-align: center;
		border-bottom: 1px dotted black;
		padding: 20px 0 20px 0;
	}
	
	li.active a{
		color:black;
		background: #cad2d3;
		padding:10px 15px 10px 15px;
        border:#42432d;
		text-decoration:none;
		font:bold 1em/1em Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		text-shadow: 2px 2px 2px #555;
	}
/* ========================== Media Queries ================================*/
    @media (max-width: 500px) {
      h1 {
        font-size: 2.25em;
        padding: 5px;
      }
      
      li {
        padding: 2px;
        display: block;
      }
      
      h2 {
        font-size: 1.125em;
        padding: 4px;
      }
	  
	  nav a:link,
      nav a:visited {
        color: white;
        background: rgba(0,0,0,0.4);
        padding:4px 5px 4px 5px;
        border:#42432d;
		text-decoration:none;
		font:bold 1em/1em Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		text-shadow: 1px 1px 1px #555;
		display: block;
      }
	  nav a:hover,
		nav a:focus {
		color:black;
		background: #cad2d3;
	    }
    }
/* ==========================================================================*/

/* ========================== Fonts =========================================*/
    
  @font-face {
    font-family: 'kavoonregular';
    src: url('../font/kavoon-regular-webfont.eot');
    src: url('../font/kavoon-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/kavoon-regular-webfont.woff2') format('woff2'),
         url('../font/kavoon-regular-webfont.woff') format('woff'),
         url('../font/kavoon-regular-webfont.ttf') format('truetype'),
         url('../font/kavoon-regular-webfont.svg#kavoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

  }
/* ==========================================================================*/
